Name: Snehal Awadan

PRN: 240340128033

Assignment : 01

# Q.1)

In [1]:
sent = 'They told that their ages are 25 27 and 29 respectively.'

# Find the average of the ages:

In [2]:
ages = []

# split the sentence:
for word in sent.split():
    
    # check word is digit
    if word.isdigit():
        
        # if it is digit then append 
        ages.append(int(word))
        
print('the average of the given ages: ')
sum(ages)/len(ages)

the average of the given ages:

27.0

# Count total words startwith 't' or'T'

In [3]:

count = 0

for word in sent.split():
   
    if word.startswith('T') or word.startswith('t'):
        
        count = count+1
        
print(count)

4

# Count total punctuation symbols

In [4]:
count_pun = 0

for word in sent.split():
    if not word.isalnum():
        count_pun = count_pun + 1
count_pun

1

# Print the words in capital letter which endswith 'd'

In [5]:
end_d = []

for word in sent.split():
    
    if word.endswith('d'):
        
        end_d.append(word.upper())
        
print(end_d)

['TOLD', 'AND']

# Merge all words and print (no punctuation)

In [6]:

for words in sent.split():
    
    if words.isalnum():
        print(words)

They
told
that
their
ages
are
25
27
and
29

In [7]:
# Remove punctuation and merge words

merged_words = ''.join(word for word in sent.split() if word.isalpha())

print(merged_words)

Theytoldthattheiragesareand

In [8]:
#############################################################################

# Q.2)

open the wikipedia page of Indian flag and perform following analysis:

In [9]:

para = 'The national flag of India, colloquially called Tiraṅgā (the tricolour), is a horizontal rectangular tricolour flag, the colours being of India saffron, white and India green; with the Ashoka Chakra, a 24-spoke wheel, in navy blue at its centre.[1][2] It was adopted in its present form during a meeting of the Constituent Assembly held on 22 July 1947, and it became the official flag of the Union of India on 15 August 1947. The flag was subsequently retained as that of the Republic of India. In India, the term "tricolour" almost always refers to the Indian national flag.'

# Count the number of words:

In [10]:
from nltk.tokenize import word_tokenize

count = 0
for words in para.split():
    word_tokenize(para)
    count = count + 1
    
print('the total words present in the given para is: ')
    
count

the total words present in the given para is:

98

# Count % of the punctuation mark

In [11]:
pun_per = len([word for word in word_tokenize(para) if not word.isalnum()])

print('Count % of the punctuation mark: ')
pun_per / len(word_tokenize(para))

Count % of the punctuation mark:

0.18181818181818182

# Print total number of lines

In [12]:
sent = para.split('.')
num_lines = len(sent)
num_lines

5

# How many words are there in title case

In [13]:
count_title = 0

for word in word_tokenize(para):
    
    if word.istitle():
        
        count_title = count_title + 1
        
count_title

20

# Remove the numbers and print the text

In [14]:
for words in para.split():
    
    if not words.isdigit():
        
        print(words)

The
national
flag
of
India,
colloquially
called
Tiraṅgā
(the
tricolour),
is
a
horizontal
rectangular
tricolour
flag,
the
colours
being
of
India
saffron,
white
and
India
green;
with
the
Ashoka
Chakra,
a
24-spoke
wheel,
in
navy
blue
at
its
centre.[1][2]
It
was
adopted
in
its
present
form
during
a
meeting
of
the
Constituent
Assembly
held
on
July
1947,
and
it
became
the
official
flag
of
the
Union
of
India
on
August
1947.
The
flag
was
subsequently
retained
as
that
of
the
Republic
of
India.
In
India,
the
term
"tricolour"
almost
always
refers
to
the
Indian
national
flag.